* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.garbage {
  position: fixed;
  font-size: 20px;
  right: 2vw;
  top: 2vw;
}

.canvas {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.2;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 55%;
  height: auto;
  object-fit: cover;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.swiper-button-next {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
}

@media only screen and (max-width: 1300px) {
  .swiper-slide img {
    width: 70%;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .swiper-slide img {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  .swiper-slide img {
    width: 130%;
    height: auto;
  }
}

/* .end {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
}
.wetext {
  position: relative;
  width: 5.5vw;
  top: 0.7vw;
}
.earthtext {
  position: relative;
  width: 7.5vw;
  top: 0.6vw;
}
.sltext {
  position: relative;
  width: 13vw;
  top: 0.6vw;
  cursor: pointer;
}

.endtext {
  position: fixed;
  left: 50%;
  top: 45%;
  width: 90%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  text-align: center;
  z-index: 1;
  opacity: 1;
  transition: 0.3s;
}

.endtext2 {
  position: fixed;
  left: 50%;
  top: 45%;
  width: 90%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.back {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
} */
